/*
================================================================================
|                                SECTION-GRID                                   |
================================================================================
*/

$block-item-size: 19.8%; /*200px*/
$block-item-margin: 1px;
$border-item-size: 1px;
$bg-item-color: #111111;
$color-text: #ffffff;

/*----------------------------------------------------------
					STYLE GRID ITEMS
----------------------------------------------------------*/


.wrap-grid-3d {
	padding: 50px 0;
}

.container-grid {
	/*@include perspective(1000px);*/
	/*@include perspective-origin(50%, 50%);*/
	/*position: absolute;*/
	/*top: 50%;*/
	/*left: 50%;*/
	/*margin-top: ($block-size + ($block-margin * 2)) * 3 / -2;*/
	/*margin-left: ($block-size + ($block-margin * 2)) * 3 / -2;*/
	/*width: 100%;*/
	margin: 0 8%;
}

.grid-3d {
	margin: 0 auto;
	padding: 0;
	list-style: none;
	color: rgba($color-text, 1);
	@include translateZ(-100px);
	a {
		color: inherit;
		text-decoration: none;
	}
	& > li {
		float: left;
	}
	&:after {
		display: table;
		content: '';
		clear: both;
	}
}


/*----------------------------------------------------------
					STYLE GRID ITEM
----------------------------------------------------------*/


.grid-3d-item {
	position: relative;
	cursor: pointer;
	margin: $block-item-margin;
	background-color: $bg-item-color;
	width: $block-item-size;
	@include transition(all, 200ms, ease-in-out);
	@include box-sizing(border-box);
	border: $border-item-size solid rgba(#999, 0.5);
	overflow: hidden;
}

.grid-3d-item__bg {
	width: 100%;
	height: 100%;
}

.grid-3d-item__opacity img {
	width: 100%;
	opacity: 0.3;
	@include transition(opacity, 1s, ease);
}

.grid-3d-item__title {
	position: absolute;
	display: block;
	width: 100%;
	top: 50%;
	margin-top: -19px;
	text-align: center;
	font-size: 2em;
	text-transform: uppercase;
	letter-spacing: 0.3em;
	@include transition(all, 1s, ease);
}

.grid-3d-item__descp {
	position: absolute;
	left: 0;
	bottom: -65%;
	/*bottom: 0;*/
	width: 100%;
	height: 65%;
	padding: 0 5px;
	@include transition(all, 1s, ease);
	color: #f1f1f1;
	opacity: 0;
}

.grid-3d-item__descp h3 {
	margin: 15px 0;
	padding: 0;
	font-size: 1.4em;
	text-transform: uppercase;
	text-align: center;
}

.grid-3d-item__descp ul {
	margin: 0;
	padding-left: 25px;
	font-size: 0.74em;
	font-weight: 300;
	letter-spacing: 0.05em;
	text-align: left;
	list-style-type: circle;
	li {
		margin-bottom: 3px;
	}
}

.grid-3d-item__bg:hover {
	.grid-3d-item__title {
		top: 50px;
		opacity: 0.3;
	}
	.grid-3d-item__opacity img {
		opacity: 0.9;
	}
	.grid-3d-item__descp {
		bottom: 0;
		background: rgba(28,28,28,0.9);
		opacity: 0.9;
	}
}